In [11]:
import pandas as pd

In [12]:
import numpy as np

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\administrator\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install numpy

Requirement already satisfied: numpy in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd

In [16]:
import numpy as np

In [17]:
s=pd.Series([1,3,5,np.nan,6,8])

In [18]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [19]:
z=pd.Series([1,3,5,np.nan,6,8])

In [20]:
z

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [21]:
d=pd.Series([1,3,5,6,8])

In [22]:
d

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [23]:
dates=pd.date_range("20240101",periods=6)

In [24]:
dates

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [25]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list("ABCD"))

In [26]:
df

                   A         B         C         D
2024-01-01 -0.913596  0.131316 -1.610346 -1.045960
2024-01-02  1.146478  0.278593  1.916511 -1.247595
2024-01-03  0.122786 -0.419934  0.718453  1.438696
2024-01-04  0.675898  0.305386 -0.912404 -1.477138
2024-01-05  0.253554  1.273091 -0.300490  0.015875
2024-01-06 -0.890787  0.151950 -0.896802  1.093593

In [27]:
df2=pd.DataFrame(
    {
    "A" : 1.0,
    "B" : pd.Timestamp("20130102"),
    "C" : pd.series(1, index=list(range(4))),
    "D" : "foo"
}
)

AttributeError: module 'pandas' has no attribute 'series'

In [ ]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2024-01-01  0.532507 -0.803398 -0.597768  0.756233
2024-01-02  0.052628  0.878015  0.244789  1.018552
2024-01-03 -0.831065 -0.022906  0.340892 -0.760029
2024-01-04 -0.208855 -0.427185 -1.080118  0.724382
2024-01-05  0.552729 -0.358117 -0.094966 -0.587527
2024-01-06  0.635626 -0.195167  1.764683  0.259314>

In [ ]:
df.info

<bound method DataFrame.info of                    A         B         C         D
2024-01-01  0.532507 -0.803398 -0.597768  0.756233
2024-01-02  0.052628  0.878015  0.244789  1.018552
2024-01-03 -0.831065 -0.022906  0.340892 -0.760029
2024-01-04 -0.208855 -0.427185 -1.080118  0.724382
2024-01-05  0.552729 -0.358117 -0.094966 -0.587527
2024-01-06  0.635626 -0.195167  1.764683  0.259314>

In [ ]:
df.tail(2)

                   A         B         C         D
2024-01-05  0.552729 -0.358117 -0.094966 -0.587527
2024-01-06  0.635626 -0.195167  1.764683  0.259314

In [ ]:
df.index

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [ ]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2024-01-01  0.532507 -0.803398 -0.597768  0.756233
2024-01-02  0.052628  0.878015  0.244789  1.018552
2024-01-03 -0.831065 -0.022906  0.340892 -0.760029
2024-01-04 -0.208855 -0.427185 -1.080118  0.724382
2024-01-05  0.552729 -0.358117 -0.094966 -0.587527
2024-01-06  0.635626 -0.195167  1.764683  0.259314>

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.122261 -0.154793  0.096252  0.235154
std    0.572794  0.569551  0.976488  0.747309
min   -0.831065 -0.803398 -1.080118 -0.760029
25%   -0.143484 -0.409918 -0.472067 -0.375817
50%    0.292567 -0.276642  0.074912  0.491848
75%    0.547673 -0.065971  0.316866  0.748270
max    0.635626  0.878015  1.764683  1.018552

In [ ]:
df.T

   2024-01-01  2024-01-02  2024-01-03  2024-01-04  2024-01-05  2024-01-06
A    0.532507    0.052628   -0.831065   -0.208855    0.552729    0.635626
B   -0.803398    0.878015   -0.022906   -0.427185   -0.358117   -0.195167
C   -0.597768    0.244789    0.340892   -1.080118   -0.094966    1.764683
D    0.756233    1.018552   -0.760029    0.724382   -0.587527    0.259314

In [28]:
df.iloc[1:3,:]

                   A         B         C         D
2024-01-02  1.146478  0.278593  1.916511 -1.247595
2024-01-03  0.122786 -0.419934  0.718453  1.438696